<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Twitter Sentiment Analyser</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="card mt-5">
          <div class="card-header text-center py-3">
            <h1>Twitter Sentiment Analyser <i class="fas fa-link px-2"></i></h1>
          </div>
          <div class="px-3 py-4">
            <form id="post-form" action="/analyse/" method="POST">
              {% csrf_token %}
             <div class="input-group mb-3">
                <input type="text" name="link" id="link" class="form-control col-10" placeholder="Input Twitter Keyword">
                <div class="input-group-append"> 
                    <button class="btn btn-success btn-lg w-100" type="submit">Analyse</button>
                </div>
             </div>
            </form>
            <section class="text-center"><h2></h2></section>
          </div>
        </div>
        
        {{ plot | safe}}

    </div>

    
    
</body>
</html>